/* =========== Common styles =========== */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
  max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
  max-width: 1158px;
  padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========== /Common styles =========== */
/* =========== Page Header styles =========== */


.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 0;
}

.logo-part {
  color: #2e2f42;
}

.nav-list, 
.address-container {
  display: none;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  stroke: #2f2f37;
}
/* =========== Mobile menu styles =========== */
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  background-color: #fcfcfc;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.mobile-menu-container {
  position: relative;
}

.mobile-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-menu-item {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-menu-item:hover, .mobile-nav-menu-item:focus {
  color: #404bbf;
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
}

.mobile-menu-close-btn  {
  position: absolute;
  top: 24px;
  right: 16px;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* =========== /Mobile menu styles =========== */
/* =========== Tablet menu styles =========== */
@media only screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover, .nav-link:focus {
    color: #404bbf;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
  }
  .address-container {
    display: block;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    }
  .address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover, 
  .address-link:focus {
    color: #404bbf;
  }
}
/* =========== /Tablet menu styles =========== */
/* =========== Desktop menu styles =========== */
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
    }
    .address-list {
      flex-direction: row;
      gap: 40px;
    }
      .address-link {
        font-size: 16px;
        line-height: 1.5;
      }
}
/* =========== /Desktop menu styles =========== */
/*
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}




.address-container {
  font-style: normal;
  margin-left: auto;
  display: none;
}
@media only screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  
  
}
@media only screen and (min-width:768px) {

  .logo {
    margin-right: 120px;
  }
  .page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    column-gap: 40px;
  }
  .nav-link {
    display: block;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: #404bbf;
}
.current {
position: relative;
color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
}
.address-container {
  display: block;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.address-link {
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
  color: #404bbf;
}
}
/* =========== /Page Header styles =========== */
